{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <h5>An application to see, leave and like reviews on popular movies</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>How to use</h1>
            <h4>To use simply follow these steps:</h4>
            <ul>
                <li>Register an account</li>
                <li>Log into that account</li>
                <li>Select the movies page</li>
                <li>Leave a review on a film</li>
                <li>Like another users review</li>
                <li>Enjoy!</li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}